{% extends "base.html" %}

{% block header %}
    <nav class="cyan">
        <div class="nav-wrapper">
            <div class="container">
                <a href="#" class="brand-logo">NUTZ</a>
                <a href="#" data-activates="mobile-menu" class="button-collapse">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a href="#">Dashboard</a>
                    </li>
                    <li>
                        <a href="#">Calculadora</a>
                    </li>
                    <li>
                        <a href="#"></a>
                    </li>
                    <li>
                        <a href="#">item4</a>
                    </li>
                </ul>
                <ul class="side-nav" id="mobile-menu">
                    <li>
                        <div class="userView">
                            <div class="background">
                                <img src="http://lorempixel.com/output/abstract-q-c-640-480-10.jpg" alt="Background Sidenav">
                            </div>
                            <a href="#!user">
                                <img class="circle" src="http://lorempixel.com/output/people-q-c-640-480-9.jpg" alt="User Image Sidenav">
                            </a>
                            <a href="#!name">
                                <span class="white-text name">John Doe</span>
                            </a>
                            <a href="#!email">
                                <span class="white-text email">jdandturk@gmail.com</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <a href="#">item1</a>
                    </li>
                    <li>
                        <a href="#">item2</a>
                    </li>
                    <li>
                        <a href="#">item3</a>
                    </li>
                    <li>
                        <a href="#">item4</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock header %}   

{% block footer %}
<footer class="page-footer cyan">
    <div class="container">
        <div class="row">
            <div class="col s12 m8 l6">
                <h5 class="white-text">First Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col s12 m4 l6">
                <h5 class="white-text">Second Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2018 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>
{% endblock footer %}

{% block main %}
{% block contenido %}

{% endblock contenido %}
{% endblock main %} 